.config-component {
  display: flex;
}

.config-container {
  padding: 20px;
  flex: 1;
  /* border-right: 1px solid #c3c1c1; */
  box-sizing: border-box;
  min-height: calc(100vh - 40px);
}

.preview-container {
  flex: 1;
}

.formItem {
  margin-bottom: 10px;
}

.formHeader {
  color: #474747;
  text-align: center;
  padding-bottom: 15px;
}
